.recipe__button {
	background: var(--primary-color);
	border: none;
	border-radius: 5px;
	color: var(--main-color);
	padding: 1rem;
	transition: all .1s ease-in-out;
}

.recipe__button:hover {
	background: var(--primary-color-darker);
	cursor: pointer;
}
