.menu__item:last-child .menu__link {
	margin-right: 0;
}

.menu__link {
	color: var(--secondary-color);
	margin-right: 1.25rem;
	text-decoration: none;
	text-transform: lowercase;
}

.menu__link.active {
	color: var(--menu-link-active);
	font-weight: bold;
}

.menu__link:hover {
	text-decoration: underline;
}

.menu__link__logo {
	width: 1.5rem;
	height: 1.5rem;
	margin: 0px;
}
