.person__image {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 100%;
	margin: 0 auto;
	height: 300px;
	width: 300px;
}

.person__image--roberta {
	background-image: url('../../img/people/roberta.jpg');
}

.person__image--marcela {
	background-image: url('../../img/people/marcela.jpg');
}

.person__image--andreia {
	background-image: url('../../img/people/andreia.jpg');
}
