:root {
	--background-color: #f9f9f9; /* was #222222 */
	--title-font: "Pacifico", cursive;

	/* FIXME from old project */
	--primary-color: #000000;
	--secondary-color: #F6F6F6;
	--tertiary-color: #22D4FD;
	--bg-hover-color: #272727;
	--primary-font: "Krona One", sans-serif;
	--secondary-font: "Montserrat", sans-serif;
}

body {
	background-color: var(--background-color);
}

.emphasis-marquee {
	font-weight: 1000;
	background-color: black;
	color: green;
	font-size: 150px;
}
