:root {
	--title-font: "Pacifico", cursive;
	--main-color: #fdfdfd; /* # banner, recipe */
	--background-color: #f9f9f9; /* header, recipe */
	--background-color-darker: #e5e5e5; /* # recipes */
	--primary-color: #8d0606; /* # who_we_are, person, about, recipe */
	--primary-color-darker: #620404; /* # recipe */
	--secondary-color: #595959; /* alternative: #808080 was used on menu-link :: found on who_we_are, person, about, menu-link */
	--menu-link-active: #333333; /* # menu-link */
}

body {
	background-color: var(--background-color);
}

.emphasis-marquee {
	font-weight: 1000;
	background-color: black;
	color: green;
	font-size: 150px;
}
